.card {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-700);
  height: 20rem;
  width: 20rem;
  border: 1px solid var(--blue-500);
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  transition: color 0.2s;

  &:hover {
    background-color: var(--blue-500);

    transform: scale(1.02);
  }
}

.title {
  display: flex;
  justify-content: center;
  height: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
